:root {
    --LIGHT-CYAN: hsl(193, 38%, 86%);
    --NEON-GREEN: hsl(150, 100%, 66%);
    --GRAYISH-BLUE: hsl(217, 19%, 38%);
    --DARK-GRAYISH-BLUE: hsl(217, 19%, 24%);
    --DARK-BLUE: hsl(218, 23%, 16%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--DARK-BLUE);
}

main {
    height: 15rem;
    width: 27rem;
    background: var(--DARK-GRAYISH-BLUE);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 2rem;
}

main div img {
    width: 20rem;
}

main h3 {
    color: var(--NEON-GREEN);
    font-size: .9rem;
}

main p {
    color: var(--LIGHT-CYAN);
    font-size: 1.5rem;
}

.box {
    width: 3.5rem;
    height: 3.5rem;
    background: var(--NEON-GREEN);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-top: -12px;
    padding: 1.5rem;
    cursor: pointer;
}

.box img {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}